* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
}

.hero {
    background-color: $light;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        height: 90vh;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;
        border: 1px solid red;

        @include tablet {
            grid-template-columns: 1fr;
            height: 100%;
        }

        &--left {
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding: 5rem 0;
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }

        &--left {
            h1 {
                font-size: 4rem;
                color: $lime;

                @include mobile {
                    font-size: 1.5;
                }
            }

            h2
        }
    }
}